{% extends 'base/user_base.html' %}
{% block title %}Modifica Task{% endblock %}

{% block content %}
<div class="header">
    <h2>Modifica Attività</h2>
    <div class="user-panel">
        <a href="{% url 'tasks:home' %}" class="btn-admin">← Torna alla home</a>
    </div>
</div>

<div class="form-box">
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <label for="{{ form.title.id_for_label }}">Titolo</label>
            {{ form.title }}
        </div>
        <div class="field">
            <label for="{{ form.due_date.id_for_label }}">Data di scadenza</label>
            {{ form.due_date }}
        </div>
        <div class="field">
            <label for="{{ form.priority.id_for_label }}">Priorità</label>
            {{ form.priority }}
        </div>
        <div class="field checkbox-field">
            <label for="{{ form.is_completed.id_for_label }}">Completato</label>
            {{ form.is_completed }}
        </div>
        <button type="submit">Salva modifiche</button>
    </form>
</div>
{% endblock %}
