{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'todo/style.css' %}?v={{ timestamp }}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
</head>
<body>
    <h1>Accedi</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Non hai un account?<a href="{% url 'signup' %}">Registrati qui</a></p>
    {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}
</body>
</html>
