{% extends 'todo/user_base.html' %}
{% block title %}Registrazione{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>Registrati</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
        {% endif %}

        <button type="submit">
            <i data-lucide="user-plus" class="lucide-icon" style="vertical-align: middle;"></i> Crea account
        </button>

    </form>

    <p>Hai già un account? <a href="{% url 'login' %}">Accedi qui</a>.</p>
</div>
{% endblock %}
