{% extends 'base/user_base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>Accedi</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
        {% endif %}

        <button type="submit">
            <i data-lucide="log-in" class="lucide-icon" style="vertical-align: middle;"></i> Accedi
        </button>
    </form>

    <p>Non hai un account?
        <a href="{% url 'accounts:signup' %}">Registrati qui</a>
    </p>
</div>
{% endblock %}
